* {
  box-sizing: border-box; }

body {
  margin: 0; }

.nav {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 64px; }

.nav__brand {
  color: #F5F7F8; }

.nav__icon {
  height: 25px; }

.form {
  height: 140px;
  width: 460px;
  margin: 0 auto 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid #00D395;
  border-radius: 8px; }

.form__header {
  color: #F5F7F8;
  font-size: 28px;
  margin: 0; }

.form__group {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.form__input {
  height: 32px;
  width: 390px;
  font-size: 18px;
  border: 1px solid #00D395;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  text-align: center;
  background: inherit;
  color: #F5F7F8; }

.form__button {
  height: 32px;
  width: 390px;
  font-size: 16px;
  border: 1px solid #00D395;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #00D395;
  transition: 0.2s color, 0.2s background;
  cursor: pointer;
  background: inherit; }

.form__button:hover {
  color: #F5F7F8;
  background: #00D395; }

body {
  font-family: Work Sans, sans-serif;
  background: #070A0E; }

.assets {
  min-height: calc(100vh - 350px);
  background: #F5F7F8; }

.asset-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.asset {
  height: 300px;
  width: 400px;
  border: 1px solid #E3E9EB;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 24px;
  margin: 18px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  margin-top: 0;
  margin-bottom: 32px;
  transform: translateY(-68px);
  padding-top: 0;
  padding-left: 0;
  padding-right: 0; }

.asset__header {
  display: flex;
  align-items: center;
  padding: 8px;
  padding-left: 24px;
  width: 100%;
  border-bottom: 1px solid #E3E9EB; }

.asset__icon {
  height: 50px; }

.asset__name {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  padding-left: 12px; }

.asset__value {
  padding-left: 24px;
  color: rgba(0, 0, 0, 0.75); }

.header {
  height: 350px; }
