@import '../config/colors'
  
.form
  height: 140px
  max-width: 400px
  padding: 0 18px
  margin: 0 auto 40px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-evenly
  border: 2px solid $color-green
  border-radius: 8px

.form__header
  color: $color-white
  font-size: 28px
  margin: 0
  +media($breakpoint-sm)
    font-size: 20px

.form__group
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%

.form__input
  height: 32px
  width: 100%
  font-size: 18px
  border: 1px solid $color-green
  border-top-right-radius: 8px
  border-top-left-radius: 8px
  text-align: center
  background: inherit
  color: $color-white
  padding: 8px
  +media($breakpoint-sm)
    font-size: 14px

.form__button
  height: 32px
  width: 100%
  font-size: 16px
  border: 1px solid $color-green
  border-bottom-right-radius: 8px
  border-bottom-left-radius: 8px
  color: $color-green
  transition: 0.2s color, 0.2s background
  cursor: pointer
  background: inherit

.form__button:hover
  color: $color-white
  background: $color-green
